<div class="bg-gray-100 dark:bg-slate-700 py-20 text-xs">
    <!-- Container -->
    <div class="container mx-auto lg:px-60 md:px-32 px-4 py-16">

        <div class="flex flex-col lg:flex-row justify-between text-center lg:text-left my-11">
            <div class="lg:w-5/12">
                <h2 class="text-3xl font-bold dark:text-white">Your of MFS Typology Highlights:</h2>
            </div>
            <div class="mt-6 lg:w-5/12 lg:mt-0">
                <p class="text-gray-500  dark:text-white">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas
                    Werat viverra id et aliquet. Vulputate egestas sollicitudin.
                </p>
            </div>
        </div>


        <!-- Cards Grid -->
        <!-- Cards Grid -->
        <!-- Cards Container -->
        <div class="flex flex-wrap justify-center gap-8">
            <!-- Card 1 -->
            <div class="flex-grow bg-[#4755698a] hover:scale-[1.02] ease-in-out duration-500 hover:shadow-2xl h-[2in] dark:bg-slate-200 
                rounded-lg shadow-lg p-6 text-center"
                [style.background-image]="'linear-gradient(to right, #4755698a, #4755698a), url(' + 'assets/3.jpg' + ')'"
                [style.background-size]="'cover'" [style.background-position]="'center'">
                <h2 class="text-2xl font-semibold mb-2 text-white">Crop - Cattle</h2>
                <p class="text-gray-200">Lorem ipsum dolor sit amet consectetur, adipiscing elit.</p>
            </div>

            <!-- Card 2 -->
            <div class="flex-grow bg-[#4755698a] hover:scale-[1.02] ease-in-out duration-500 hover:shadow-2xl h-[2in] dark:bg-slate-200 rounded-lg shadow-lg p-6 text-center"
                [style.background-image]="'linear-gradient(to right, #4755698a, #4755698a), url(' + 'assets/2.jpg' + ')'"
                [style.background-size]="'cover'" [style.background-position]="'center'">
                <h2 class="text-2xl font-semibold mb-2 text-white">Crop - Poultry</h2>
                <p class="text-gray-200">Lorem ipsum dolor sit amet consectetur, adipiscing elit.</p>
            </div>

            <!-- Card 3 -->
            <div class="flex-grow bg-[#4755698a] hover:scale-[1.02] ease-in-out duration-500 hover:shadow-2xl h-[2in] dark:bg-slate-200 rounded-lg shadow-lg p-6 text-center"
                [style.background-image]="'linear-gradient(to right, #4755698a, #4755698a), url(' + 'assets/4.jpg' + ')'"
                [style.background-size]="'cover'" [style.background-position]="'center'">
                <h2 class="text-2xl font-semibold mb-2 text-white">Crop – Small Ruminant</h2>
                <p class="text-gray-200">Lorem ipsum dolor sit amet consectetur, adipiscing elit.</p>
            </div>

            <!-- <div class="flex-grow bg-[#4755698a] hover:scale-[1.02] ease-in-out duration-500 hover:shadow-2xl h-[2in] dark:bg-slate-200 rounded-lg shadow-lg p-6 text-center"
                [style.background-image]="'linear-gradient(to right, #4755698a, #4755698a), url(' + 'assets/1.jpg' + ')'"
                [style.background-size]="'cover'" [style.background-position]="'center'">
                <h2 class="text-2xl font-semibold mb-2 text-white">Crop – Small Ruminant</h2>
                <p class="text-gray-200">Lorem ipsum dolor sit amet consectetur, adipiscing elit.</p>
            </div> -->
        </div>
        <div class="my-10 text-base">
            <div>
                <h2 class="text-2xl text-gray-900  dark:text-white font-bold md:text-4xl">Crop - Poultry</h2>
                <p class="mt-6 text-gray-600  dark:text-slate-50   ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum omnis
                    voluptatem accusantium nemo perspiciatis delectus atque autem! Voluptatum tenetur beatae unde
                    aperiam, repellat expedita consequatur! Officiis id consequatur atque doloremque!</p>
                <p class="mt-4 text-gray-600  dark:text-slate-50"> Nobis minus voluptatibus pariatur dignissimos libero quaerat iure
                    expedita at? Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti consequuntur suscipit
                    saepe aliquam dolorem facere. Impedit quam repellendus optio cumque deserunt? Velit nemo quia ipsa
                    consequatur autem harum, aperiam numquam. Asperiores nemo possimus nesciunt dicta veniam aspernatur
                    quam mollitia.</p>
            </div>
            <div class="mt-7">
                <h2 class="text-xl text-gray-900 font-bold md:text-xl  dark:text-white">Related Advisories </h2>
                <p class="mt-6 text-gray-600  dark:text-slate-50">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum omnis
                    voluptatem accusantium nemo perspiciatis delectus atque autem! Voluptatum tenetur beatae unde
                    aperiam, repellat expedita consequatur! Officiis id consequatur atque doloremque!</p>
                <p class="mt-4 text-gray-600  dark:text-slate-50"> Nobis minus voluptatibus pariatur dignissimos libero quaerat iure
                    expedita at? Asperiores nemo possimus nesciunt dicta veniam aspernatur quam mollitia.</p>

            </div>
            <!-- component -->
            <a class="relative block px-8 py-3 overflow-hidden border bg-white   dark:bg-slate-600  dark:border-slate-600 border-slate-100 rounded-lg my-10" href="">
                <span
                    class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"></span>

                <div class="justify-between sm:flex">
                    <div>
                        <h5 class="text-xl font-bold text-slate-900 dark:text-slate-50">
                            Latest Updates
                        </h5>
                    </div>
                </div>
                <div class="shadow-lg my-4 bg-slate-50 dark:bg-slate-500 px-6 py-2 border-s-4 border-teal-600">
                    <div class="justify-between sm:flex  ">
                        <div>
                            <h5 class="text-lg font-bold text-slate-900 dark:text-white">
                                Risk Alert
                            </h5>
                            <div class=" sm:pr-8">
                                <p class="text-sm text-slate-500 dark:text-white">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident omnis enim nihil odio optio culpa. Nostrum tempora hic vero, laborum perspiciatis dolores repellat, repellendus doloremque quisquam possimus illum reprehenderit harum.
                                </p>
                                <dl class="flex mt-2">
                                    <div class="flex flex-col-reverse">
                                        <dt class="text-sm font-medium text-slate-600 dark:text-slate-100">Published</dt>
                                        <dd class="text-xs text-slate-500 dark:text-slate-200">31st June, 2022</dd>
                                    </div>
                
                                    <div class="flex flex-col-reverse ml-3 sm:ml-6">
                                        <dt class="text-sm font-medium text-slate-600 dark:text-slate-100">Reading time</dt>
                                        <dd class="text-xs text-slate-500 dark:text-slate-200">5 minutes</dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
    
                        <!-- <div class="flex-shrink-0 hidden ml-3 sm:block">
                            <img class="object-cover w-16 h-16 rounded-lg shadow-sm"
                                src="https://github.com/creativetimofficial/argon-design-system/blob/master/assets/img/faces/team-2.jpg?raw=true"
                                alt="" />
                        </div> -->
                    </div>
                </div>
            </a>
        </div>


    </div>
</div>