
    
    <div class="bg-slate-50  pt-10 pb-10 lg:px-20 lg:pt-8 dark:bg-gray-900">
        <div class=" xl:container m-auto px-6 md:px-12 lg:px-6">
            <home-slider></home-slider>
            <div class="">
                <div class="mt-8 md:mt-8 lg:px-20 sm:mx-auto text-center">
                    <p class="text-md text-gray-700 dark:text-gray-300 text-start">
                        Enhance Your Mixed Farming System (MFS) Unlock the full potential of mixed farming with our expert guidance. From daily monitoring to crop-animal integration, our solutions optimize both full and hybrid systems to boost productivity.
                    </p>

                    <!-- <app-counters></app-counters> -->


                    <h2 class=" font-black text-gray-500 text-start pt-10">Stakeholders</h2>
                    <div class="flex justify-center">
                        <div 
                          class="grid gap-6 lg:gap-7 justify-items-center content-center justify-center lg:w-2/3 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-7"
                        >
                          <img src="../../../assets/output-onlinepngtools(1).png" 
                               class="h-20 sm:h-20 w-auto lg:h-25" alt="" />
                          <img src="../../../assets/output-onlinepngtools(2).png" 
                               class="h-10 mt-5 sm:h-10 w-auto lg:h-10" alt="" />
                          <img src="../../../assets/output-onlinepngtools(3).png" 
                               class="h-20 sm:h-20 w-auto lg:h-25" alt="" />
                          <img src="../../../assets/output-onlinepngtools(4).png" 
                               class="h-20 sm:h-20 w-auto lg:h-25" alt="" />
                          <img src="../../../assets/output-onlinepngtools(5).png" 
                               class="h-20 sm:h-20 w-auto lg:h-25" alt="" />
                          <img src="../../../assets/output-onlinepngtools(6).png" 
                               class="h-20 sm:h-20 w-auto lg:h-25" alt="" />
                          <img src="../../../assets/output-onlinepngtools(7).png" 
                               class="h-20 sm:h-20 w-auto lg:h-25" alt="" />
                        </div>
                      </div>
                      
                      
                <!-- <div class="mt-12 md:mt-0 flex justify-end  -right-2 lg:w-7/12">
                    <div class="w-3/4">
                        <img src="../../../assets/coffee farm-cuate.png" class=" w-full" alt="wath illustration" loading="lazy" width="320">
                    </div>
                </div> -->
            </div>
        </div>
    </div>
